body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.mode-toggle {
    margin-bottom: 20px; /* 모드 버튼 사이의 간격 */
}

.flashcard-container {
    display: flex;
    align-items: center;
    position: relative;
}

.flashcard {
    width: 600px;
    height: 400px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.5s;
    position: relative;
}

.flashcard .front, .flashcard .back {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.flashcard .back {
    display: none;
}

.flashcard.flipped .front {
    display: none;
}

.flashcard.flipped .back {
    display: flex;
}

.arrow {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    margin: 0 10px;
}

.image-container {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.corner-image {
    width: 200px; /* 원하는 크기로 조정 */
    height: auto; /* 비율에 맞게 높이 자동 조정 */
    border-radius: 10px; /* 모서리 둥글게 */
}

#word {
    font-size: 56px; /* 단어 크기 */
}

#definition {
    font-size: 45px; /* 정의 크기 */
}
